/* top bar */
.top-bar {

    /* top bar left */
    .top-bar-left {

        @include breakpoint(medium) {
            padding: 1rem 0 0;
        } // medium breakpoint

        li {
            display: block;

            @include breakpoint(medium) {
                display: table-cell;
            } // medium breakpoint

            &:last-child {
                a {
                    @include breakpoint(medium) {
                        padding: 0.5rem 0 0.5rem 1.5rem;
                    } // medium breakpoint
                } // a
            } // last-child

            ul {

                // @include breakpoint(large) {
                //     position: relative;
                //     width: 100%;
                // } // large breakpoint

                li {

                    @include breakpoint(medium) {
                        display: block;
                    } // medium breakpoint

                    a {
                        padding: 0.5rem 0.5rem;

                        @include breakpoint(medium) {
                            padding: 0.5rem 1.5rem;
                        } // medium breakpoint
                    } // a
                } // li
            } // ul

            a {
                color: $black;
                padding: 0.75rem 0.25rem;

                &:hover {
                    color: $topbar-link-hover-color;
                } // hover

                @include breakpoint(medium) {
                    padding: 1rem 1rem;
                } // medium breakpoint

                @include breakpoint(large) {
                    padding: 1rem 1.5rem;
                } // large breakpoint
            } // a
        } // li
    } // .top-bar-left



    /* top bar right */
    .top-bar-right {

        @include breakpoint(medium) {
            padding: 1.8rem 0 0.33rem;
        } // medium breakpoint

        i {
            cursor: pointer;
            outline: none;
        } // i

    } // .top-bar-right
} // .top-bar



/* Test sub-nav */
#sub-nav {
    background: $black;
    display: none;
    padding: 1rem 0;

    ul {
        list-style-type: none;
        margin: 0;
    }
}



/* Prevent Mobile Menu From Flashing */
.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        } // .top-bar
    } // small only breakpoint

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        } // .title-bar
    } // medium breakpoint
} // END - mobile menu fix
