<footer>
    <div class="row">
        <div class="medium-4 columns">
            <h4>
                Contact Us
            </h4>

        <hr>

            <h6>
                <strong>Customer Service</strong>
            </h6>
            <p>
                Fax: 800-982-9732
            </p>
            <p>
                Email: <a href="mailto:AltairCS@vsp.com">AltairCS@vsp.com</a>
            </p>

        <br/>

            <h6>
                <strong>Billing</strong>
            </h6>
            <p>
                Phone: 866-248-6407
            </p>
            <p>
                Fax: 866-248-6364
            </p>
            <p>
                Email: <a href="mailto:AltAccnt@vsp.com">AltAccnt@vsp.com</a>
            </p>

        <br/>

            <h6>
                <strong>Hours of Operation</strong>
            </h6>
            <p>
                Monday - Friday
            </p>
            <p>
                5:30am to 5:30pm (Pacific Time)
            </p>
        </div> <!-- /.columns -->



        <div class="medium-4 columns">
            <h4>
                Addresses
            </h4>

        <hr>

            <h6>
                <strong>Return Product</strong>
            </h6>
            <p>
                11135 Trade Center Drive Suite 180
            </p>
            <p>
                Rancho Cordova, CA 95670
            </p>

        <br/>

            <h6>
                <strong>Remit Payment</strong>
            </h6>
            <p>
                PO Box 45036
            </p>
            <p>
                San Francisco, CA 94145-0036
            </p>
            <p>
                <a href="https://www.altaireyewear.com/payonline/" target="_blank">
                    Make an Online Payment
                </a>
            </p>

        <br/>

            <h6>
                <strong>Altair Headquarters</strong>
            </h6>
            <p>
                10875 International Drive
            </p>
            <p>
                Rancho Cordova, CA 95670
            </p>
        </div> <!-- /.columns -->



        <div class="medium-4 columns">
            <h4>
                Contact Form
            </h4>

        <hr>

            <form data-abide novalidate>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>

                <label>To:
                    <select id="select" required>
                        <option value="Customer Service">Customer Service</option>
                        <option value="billing">Billing</option>
                    </select>
                </label>

                <label>From: <!-- <span class="form-error">Required</span> -->
                    <input type="text" placeholder="First & Last Name" aria-describedby="Name" required pattern="text">
                </label>

                <label>Phone: <!-- <span class="form-error">Required</span> -->
                    <input type="text" placeholder="xxx.xxx.xxxx" aria-describedby="Phone" required pattern="tel">
                </label>

                <label>Message:
                    <textarea placeholder="Message goes here..." required></textarea>
                </label>

                <fieldset class="float-left">
                    <button class="button hollow" type="submit" value="Submit">Submit</button>
                </fieldset>
                <fieldset class="float-right">
                    <button class="button hollow" type="reset" value="Reset">Reset</button>
                </fieldset>

            </form>
        </div> <!-- /.columns -->
    </div> <!-- /.row -->



    <div class="row">
        <div class="columns">
            <p>
                <small>
                    &copy; 2016 ALTAIR &bull;
                    <a href="#">Terms of Service</a> &bull;
                    <a href="#">Privacy Policy</a> &bull;
                    Phone: <a href="tel://1-800-505-5557">800.505.5557</a> &bull;
                    Email: <a href="mailto:AltairWeb@vsp.com">AltairWeb@vsp.com</a> &bull;
                    <a target="_blank" href="https://altaireyewear.webex.com/mw3000/mywebex/default.do?siteurl=altaireyewear">WebEx</a> &bull;
                    <a target="_blank" href="https://www.facebook.com/AltairEyewear/"><i class="fi-social-facebook"><span class="show-for-sr">Facebook</span></i></a> &bull;
                    <a href="{{root}}ajax-test/ajax-test.html">ajax-test</a> &bull;
                    <a href="{{root}}colors.html">colors</a> &bull;
                    <a href="{{root}}holidaygifts.html">holiday gifts</a> 
                </small>
            </p>
        </div> <!-- /.columns -->
    </div> <!-- /.row -->
</footer> <!-- /footer -->



<!-- Search Modal -->
<div class="reveal full" id="search-modal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
        <div class="medium-7 medium-centered large-5 columns">
            <h4>
                Search
            </h4>
            <form class="login" action="/search-results.html" data-abide novalidate>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
                <label>
                    <input type="text" placeholder="Search..." aria-describedby="search here" required pattern="text">
                    <span class="form-error">
                        Required
                    </span>
                </label>
                <fieldset>
                    <button class="button expanded" type="submit" value="Submit">Submit</button>
                </fieldset>
            </form>
        </div> <!-- /.small-12 columns -->
    </div> <!-- /.row -->

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button> <!-- /.close-button -->
</div> <!-- /.reveal -->
